{% load static %}

<!DOCTYPE html>

<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Register/Login</title>





</head>

<body>

  <!-- Button trigger modal -->

<!-- Modal -->
<div class="main">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div id="box">
  <div id="main"></div>

  <div id="loginform">
      <form class="form-horizontal" method="POST" action="{% url 'login' %}" >{% csrf_token %}
    <h1>Login</h1>
    <input id="email" name ="email" type="email" placeholder="Email"/><br>
    <input id="password" name="password" type="password" placeholder="Password"/><br>
    <button>Login</button>


           </form>
  </div>



  <div id="signupform">
       <h1>Sign In</h1>
       <form class="form-horizontal" method="POST" action="{% url 'register' %}" >{% csrf_token %}
    <input type="text" name="username" placeholder="Full Name"/><br>
    <input type="email" name="email" placeholder="Email ID"/><br>
    <input type="password" name="password" placeholder="Password" /><br>
    <input type="password" name="password" placeholder="Confirm Password" /><br>
    <input type="mob" name="mobile" placeholder="Mobile Number" /><br>
    <button type="submit">Sign Up</button>
             </form>
  </div>
  <br>

  <div id="login_msg">Have an account?</div>
  <div id="signup_msg">Don't have an account?</div>

  <button id="login_btn">LOGIN</button>
  <button id="signup_btn">SIGN UP</button>



</div>
      </div>

    </div>
  </div>
</div>




</body>

</html>